<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Criação e Lista de Médicos </title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    {% render_field form.name %}
    {% render_field form.age %}
    {% render_field form.cpf %}
    {% render_field form.crm %}
    <button type="submit">Salvar</button>
    <hr>
    {% for doctor in doctors %}
    <p>{{ doctor.name }}</p>
    {% empty %}
    <p> Não tem nenhum médico cadastrado! </p>
    {% endfor %}
</form>
</body>
</html>